.sort-form {
    position: relative;
    margin: 10px 0;
}

.sort-form__input {
    padding: 10px;
    padding-right: 110px;
    font-size: 16px;
    border: 2px solid #b0b1b6;
    border-radius: 5px;
    width: 100%;
}

.sort-form__button {
    position: absolute;
    top: 10;
    right: 0;
    max-width: 100px;
    height: 100%;
}

._select {
    font-size: 16px;
    padding: 10px 15px;
    padding-right: 40px;
    border: 2px solid #b0b1b6;
    border-radius: 5px;
}   
._select option{
    padding-top: 15px;
}

